@tailwind base;
@tailwind components;
@tailwind utilities;


.card-image {
    cursor: pointer;
    transition: transform .6s ease-in-out
}

.card-image:hover {
    transform: scale(1.1)
}

.card-button {
    @apply py-2 px-4 rounded-md bg-sky-700 text-gray-100 hover:bg-sky-800
}

button:disabled {
    @apply bg-gray-500 hover:bg-gray-500
}

.tb-box-gradient {
    @apply bg-gradient-to-br from-white/10 to-white/30;
}

.tb-inner-shadow {
    @apply shadow-inner shadow-white/10;
}

