@tailwind base;
@tailwind components;
@tailwind utilities;


.card-box {
    cursor: pointer;
    transition: transform .6s ease-in-out
}

.card-box:hover {
    transform: scale(1.1)
}

.card-button {
    @apply py-3 px-4 rounded-md bg-[hsl(200,34%,39%)] text-gray-100 hover:bg-[hsl(200,34%,32%)]
}

button:disabled {
    @apply bg-gray-500 hover:bg-gray-500
}

.home-section-heading {
    @apply flex flex-col gap-3 text-gray-100 bg-[#426f85] text-center py-3 absolute top-[0] w-full;
}

.home-section-padding {
    @apply pt-52 pb-32;
}

.tb-bento-box {
    @apply p-8 bg-gradient-to-br from-white/5 via-white/10 to-white/20 shadow-inner shadow-white/10 rounded-2xl text-gray-50;
}

.tb-bento-box-2 {
    @apply p-8 bg-gradient-to-br from-white/5 via-white/10 to-white/20 shadow-inner shadow-white/10 rounded-b-2xl;
}


/* SEO PLANS TABLE */

.seo-plans-table thead tr {
    @apply bg-gray-500 text-white
}

.seo-plans-table thead tr:nth-child(2) th {
    @apply font-normal pb-3 pt-0
}

.seo-plans-table tbody tr:nth-child(even) {
    @apply bg-gray-200
}

.seo-plans-table tr th, td {
    @apply py-3 px-5
}

.seo-plans-table tr th:nth-child(2), td:nth-child(2) {
    @apply bg-black/5
}

.seo-plans-table tr th:nth-child(4), td:nth-child(4) {
    @apply bg-black/5
}
